{% extends 'base3.html' %}
{% load static %}
<!-- TITLE START-->
{% block title %}
FACULTY ZONE
{% endblock %}
<!-- TITLE END -->
{% block facultyzone %}
{% if not request.session.user %}
<script>
    alert("Login First!!!")
    location.href = "/fapp/findex"
</script>
{% endif %}
<div class="text-center fs-2">
    E-Notes <b class="txt-mycolor">Upload</b>
</div>

<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title" class="mt-3">Note Name</label>
                <input type="text" name="notename" placeholder="Notes Name" class="form-control " required />
                <label for="title" class="mt-3">Note Picture</label>
                <input type="file" name="notepic" class="form-control " required />
                <label for="title" class="mt-3">PDF</label>
                <input type="file" name="notefile" class="form-control " required />
                <label for="title" class="mt-3">Added Date</label>
                <input type="date" name="addeddate" class="form-control " required />
                <label for="title" class="mt-3">Batch</label>
                <select name="batch" class="form-control " required>
                    <option value="">--Select Your Batch--</option>
                    {% for i in bdata %}
                    <option value="{{i.id}}">{{i.batch_name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="name" class="form-control mt-3 bg-mycolor" value="UPLOAD" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mx-auto my-3 pt-3" style="background: #deedec; border-radius: 5px; border: 2px solid gray;">
        <table class="table table-hover">
            <tr>
                <th>Batch</th>
                <th>Title</th>
                <th>Upoaded File</th>
                <th>Uploaded Date</th>
            </tr>
            {% for x in edata %}
            <tr>
                <td>{{x.batch}}</td>
                <td>
                    {{x.title}}
                </td>
                <td><a href="/{{x.notes_pdf}}" class="btn btn-sm btn-success">Download <i
                            class="fa-solid fa-download"></i></a></td>
                <td>
                    {{x.added_date}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}