{% extends 'base1.html' %}
{% load static %}
<!-- TITLE START-->
{% block title %}
Batches
{% endblock %}
<!-- TITLE END -->
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert("Login First!!!")
    location.href="/fapp/index"
</script>
{% endif %}
<div class="text-center fs-2">
    New <b class="txt-mycolor">Batches</b>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row rounded-3" style="background-color:#deedec;">
        {% for i in bdata %}
            <div class="col-lg-3 col-md-6 col-sm-12 my-2">
                <div class="card">
                    <img src="/{{i.bpic}}" alt=""/>
                    <div class="card-body">
                        <p class="card-text">
                            <big><b>{{i.bname}}</b></big><br/>
                        </p>
                        <p class="card-text">
                            <b>Starting From : {{i.bdate}}</b>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}